@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.mainDiv{
    background-color:#143D1B;
    height: 4vh;
    display:flex;
    align-items: center;
    overflow:hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.title{
    font-size:20px;
    color:white;
    margin-left:3%;
    white-space: nowrap;
    
}

.btnDiv{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    margin-right: 3%;
    position: relative;

}

.btnSign{
/* 생략 */
    margin: 0;
    padding: 0.2rem 0.6rem;
    margin-right: 0.5%;
    font-family: "Noto Sans KR", sans-serif;
    /* font-size: 1rem; */
    font-weight: 300;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    background-color: transparent;
    color: white;

    border: none;
    cursor: pointer;

    transition: 0.5s;
    font-size:auto;
    /* 지려버린 CSS */
    /* 글자 무조건 한 줄로 하기 */
    white-space: nowrap;
}

.btnSign:active,
.btnSign:hover,
.btnSign:focus {
  background: var(--button-hover-bg-color);
  color:white;
  outline:0;
  font-weight:bold;
}
.btnSign:disabled {
  opacity: 0.5;
}

.Link{
    text-align:center;
    height:100%;
}

.linkTitle{
    text-decoration: none;
    padding-left: 3vw;
    width:30vw;
}


/* dropdown test */
.menuscontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .menustrigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto; /* Strictly for positioning */
  }
  
  .menustrigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  .menustrigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
  }
  
  .menustrigger img {
    border-radius: 90px;
  }
  
  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 5px;
    right: 0; 
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    border-bottom: 1px solid #dddddd;
  }
  
  .menu li span {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
  